@import '../_settings.scss'

.actiontext {
  color: theme.actionTextColor
  fontSize: '1.6rem',
  verticalAlign: super
  &:hover {
    textDecoration: underline
    cursor: pointer
  }
  &-baseline {
    verticalAlign: inherit
  }
}