.actionitem {
  display: inline-flex
  height: 100%
  alignItems: center
  &:hover {
    cursor: pointer
  }
  &Aligncenter {
    justifyContent: center
  }
  &Alignright {
    justifyContent: flex-end
  }
}