.adminrolesform {
  display: flex
  &--section {
    marginTop: '3rem',
    display: 'inline-block',
    marginRight: '8rem',

    &--rolelist {
      display: 'inline-block',
      listStyleType: none
      marginTop: '1rem',

      &--item {
        &--removebutton {
          background: url('../images/remove.svg') no-repeat right top 30%
          backgroundSize: '1.4rem',
          height: '1.4rem',
          width: '1.4rem',
          paddingRight: '2.5rem',
          display: 'inline-block',
          &:hover {
            cursor: pointer
          }
        }
      }
    }
  }
}