@import '../settings'
@import '../colors'

.autocompletedropdown {
  position: relative
  fontSize: '1.4rem',
  minWidth: '20rem',
  display: flex
  alignItems: center
  marginTop: '1.5rem',

  &--input {
    border: 2px solid theme.formFieldBorderColor
    height: '3rem',
    borderRadius: '0.3rem',
    fontSize: '1.4rem',
    paddingLeft: '1rem',
    &:focus {
      borderColor: theme.formFieldBorderActiveColor
    }
  }

  &--button {
    marginLeft: '1.5rem',
    borderRadius: '0.4rem',
    border: 2px solid theme.lightBlueGray
    width: '7.5rem',
    height: '3rem',
    display: flex
    justifyContent: center
    alignItems: center
    &:hover {
      cursor: pointer
    }
  }
  &--list {
    position: absolute
    top: '3.3rem',
    listStyleType: none
    background: theme.white
    border: 1px solid theme.formFieldBorderColor
    borderRadius: '0.3rem',

    &--item {
      lineHeight: 2
      borderTop: 1px solid theme.formFieldBorderColor
      padding: 0 '1rem',
      minWidth: '20rem',
      &:first-child {
        borderTop: 0
      }
      &:hover {
        background: theme.lightBlueGray
        cursor: pointer
      }
    }
  }
}