@import "../settings"

.content {
  &--wrapper {
    flex: 1
    display: flex
    justifyContent: center
    flexDirection: row
  }
  &--container {
    maxWidth: theme.appMaxWidth
    flex: 1
    padding: 4rem theme.contentContainerHorPadding
    [`media (min-width: ${theme.breakpoints.lg})]`: {
      padding: 4rem theme.contentContainerMdHorPadding
    }
  }
  &--flex {
    display: flex
    &-baseline {
      alignItems: baseline
    }
  }
  width: 100%
}
