@import "../settings"
@import '../responsive'
.footer {
  &--wrapper {
    background: theme.black
    padding: 3.5rem 0
  }
  background: url('../images/uio-app-uio-sickle-medium.png') left theme.horizontalPadding top no-repeat
  height: '8rem',
  maxWidth: theme.appMaxWidth
  margin: 0 auto
  padding: 0rem theme.horizontalPadding
  [`media (min-width: ${theme.breakpoints.lg})]`: {
    padding: 0rem theme.horizontalMdPadding
    background: url('../images/uio-app-uio-sickle-medium.png') left theme.horizontalMdPadding top no-repeat
  }
}