@import '../settings'
@import '../colors'

.infolist {
  list-style: none
  &--item {
    fontSize: '1.6rem',
    color: theme.greyishBrown
    lineHeight: '2.7rem',
    marginTop: '1.3rem',
    &-smalltext {
      fontSize: '1.4rem',
      color: theme.lightGreyishBrown
    }
    &:first-child {
      marginTop: 0
    }
    &-bulleted {
      background: url(../images/listmarker.svg) no-repeat left 10px
      marginLeft: '1.6rem',
      paddingLeft: '1.3rem',
      marginTop: '0.3rem',
    }
  }
}
