@import '../colors'
@import '../settings'

theme.borderColor: theme.lighterGray

.mobilemenu {
  color: theme.navMenuTextColor
  fontSize: theme.navFontSize
  display: flex
  alignItems: center
  &--inner {
    position: relative
    display: flex
    alignItems: center
    fontSize: '1.5rem',
    [`media (min-width: ${theme.breakpoints.lg})]`: {
      display: none
    }
    &--menuicon {
      display: block
      marginLeft: '0.5rem',
      width: '2rem',
      height: '3rem',
      cursor: pointer
      &:after {
        content:''
        display: block
        width: 20px
        height: 4px
        background: theme.navMenuTextColor
        marginTop: '0.3rem',
        box-shadow: 0px 8px 0px theme.white, 0px 16px 0px theme.white
      }
    }
    &--list {
      listStyleType: none
      background: theme.headerMainAreaColor
      position: absolute
      border: 1px solid theme.borderColor
      top: '3rem',
      width: '28rem',
      right: 0
      &--item {
        borderTop: 1px solid theme.borderColor
        lineHeight: 2
        paddingLeft: '1.5rem',
        &:first-child {
          borderTop: none
        }
      }
    }
  }
}