@import "../settings"
@import '../../functions'

@mixin table-cell-padding() {
  &:first-child {
    paddingLeft: theme.tableHorizontalPadding
  }
  &:last-child {
    paddingRight: theme.tableHorizontalPadding
  }
  &-nopadding {
    paddingLeft: 0 !important
    paddingRight: 0 !important
  }
}

@mixin table-cellAlignment-classes() {
  &Aligncenter {
    textAlign: center
  }
  &Alignright {
    textAlign: right
  }
}

@mixin table-cell-defaults() {
  @include table-cell-padding()
  @include table-cellAlignment-classes()
}

@mixin table-filter-box() {
  border: 0.2rem solid theme.tableFilterBoxBorderColor
  borderRadius: '0.3rem',
  height: 3.5rem !important
  padding: 0 3rem 0 '1rem',
  fontSize: '1.6rem',
  color: theme.tableRowMainTextColor
}

.table {
  width: 100%
  user-select: none
  marginTop: '4rem',
  &:first-child {
    marginTop: 0
  }
  &-smalltopmargin {
    marginTop: '2rem',
  }
  &--header {
    user-select: none
    background: theme.tableHeaderBg
    fontSize: theme.tableHeaderFontSize
    color: theme.tableHeaderTextColor
    &--row {
      user-select: none
      height: '5rem',
      &--cell {
        user-select: none
        fontWeight: normal
        paddingTop: '0.4rem',
        @include table-cell-defaults()
        &-clickable:hover {
          cursor: pointer
        }
      }
    }
  }
  &--infobar {
    display: flex
    width: 100%
    justifyContent: space-between
    alignItems: center
    height: '5rem',
    color: theme.tableHeaderTextColor
    fontSize: theme.tableHeaderFontSize
    background: theme.tableInfoHeaderBg
    padding: 0 theme.tableHorizontalPadding 0 theme.tableHorizontalPadding
  }
  &--row {
    user-select: none
    padding: 0 theme.tableHorizontalPadding 0 theme.tableHorizontalPadding
    height: '6rem',
    borderBottom: 1px solid theme.tableCandidateBottomBorderColor
    &-actiontextonhover {
      & .actiontext {
        visibility: hidden
      }
      &:hover .actiontext {
        visibility: visible
      }
    }
    &:hover {
      backgroundColor: theme.tableRowHoverColor
    }
    &-nohoverbg:hover {
       backgroundColor: transparent
    }
    &-tall {
      height: '7.5rem',
    }
    &-isdragged {
      borderTop: 1px solid theme.tableCandidateBottomBorderColor
      backgroundColor: theme.tableRowDragColor
      display: flex
      justifyContent: space-between
    }
    &-thickborder {
      borderBottom: 3px solid theme.tableThickBorderColor
    }
    &--cell {
      @include table-cell-defaults()
      &-noborder {
        borderBottom: 0
      }
      &Toppadding {
        paddingTop: '3rem',
      }
      &-greybg {
        background: theme.tableCellGreyBgColor
      }
      &-relative {
        position: relative
      }
      borderBottom: 1px solid theme.tableCandidateBottomBorderColor
      user-select: none
      &--dropdownarrow {
        display: 'inline-block',
        &:hover {
          cursor: pointer
        }
      }
      &--infourl {
        display: block
        color: theme.actionTextColor
        fontSize: '1.4rem',
      }
      &--dropdownfilter {
        //@include table-filter-box()
        -moz-appearance: none
        -webkit-appearance: none
        background: icon(dropdownarrow, theme.darkTurquoise, 14, 9) right 1rem center no-repeat
      }
      &--searchfilter {
        width: 22rem !important
      }
      &--nameinput {
        height: '4.5rem',
        border: 2px solid theme.tableInputBorderInactive
        borderRadius: 3px
        padding: 0 3rem 0 '1rem',
        marginTop: '1.5rem',
        fontSize: '1.6rem',
        color: theme.tableRowMainTextColor
        &--active {
          border: 2px solid theme.tableInputBorderActive
        }
        &--inactive {
          border: 2px solid theme.tableInputBorderInactive
        }
      }
      &--urlinput {
        height: '3.5rem',
        border: 2px solid theme.tableInputBorderInactive
        borderRadius: 3px
        padding: 0 3rem 0 '1rem',
        marginTop: '2rem',
        fontSize: '1.6rem',
        color: theme.tableRowMainTextColor
        &--active {
          border: 2px solid theme.tableInputBorderActive
        }
        &--inactive {
          border: 2px solid theme.tableInputBorderInactive
        }
      }
      @include table-cell-defaults()
    }
  }
}
