@import '../colors'

.tabselector {
  background: theme.whiteGray
  listStyleType: none
  display: inline-flex
  fontSize: '1.5rem',
  &--tab {
    display: flex
    alignItems: center
    justifyContent: center
    height: '4.4rem',
    width: '15rem',
    borderBottom: 2px solid theme.eggWhite
    &-active {
      background: theme.lightBlueGray
      borderBottom: 2px solid theme.darkBlueish
    }
    &:hover {
      cursor: pointer
    }
  }
}