.text {
  fontWeight: normal
  display: block
  &-small {
    fontSize: '1.4rem',
  }
  &-regular {
    fontSize: '1.6rem',
    lineHeight: '2.7rem',
  }
  &-large {
    fontSize: '2rem',
    lineHeight: '2.9rem',
  }
  &-xlarge {
    fontSize: '2.4rem',
    lineHeight: '2.9rem',
  }
  &-bold {
    fontWeight: bold
  }
  &-inline {
    display: 'inline-block',
  }
}