.voterelectionslist {
  width: 100%
  listStyleType: none
  fontSize: '1.7rem',
  borderTop: 3px solid theme.lightBlueGray
  lineHeight: 1.6
  marginTop: '2rem',
  &--item {
    borderBottom: 3px solid theme.lightBlueGray
    paddingTop: '1.5rem',
    paddingBottom: '3rem',
  }
}