alembic
blinker
click
flask
flask-apispec
flask-cors
flask-graphql
flask-marshmallow
flask-migrate
flask-shell-ipython
flask-sqlalchemy
graphene
graphene-sqlalchemy
gunicorn
marshmallow
marshmallow-sqlalchemy
psycopg2
python-dateutil
python-json-logger
setuptools
setuptools-scm
sqlalchemy
sqlalchemy-json
sqlalchemy-utils
werkzeug
