python-json-logger
python-dateutil
flask
flask-cors
flask-sqlalchemy
flask-migrate
flask-shell-ipython
flask-marshmallow
marshmallow
marshmallow-sqlalchemy
psycopg2
sqlalchemy_utils
gunicorn
setuptools_scm
-r dependency-links.txt
