@import '../../settings'
@import '../../colors'

theme.checkboxBorderWidth: '0.2rem',
theme.checkboxHeight: '2.1rem',
theme.checkboxWidth: '2.1rem',


.checkbox {
  display: 'inline-block',
  position: relative
  width: theme.checkboxWidth
  height: theme.checkboxHeight
  marginRight: '2rem',
  verticalAlign: super
  &--iconcontainer {
    display: 'inline-block',
    cursor: pointer
    position: absolute
    top: 0
    left: 0
    width: theme.checkboxWidth
    height: theme.checkboxHeight
    border: theme.checkboxBorderWidth solid theme.darkTurquoise
    borderRadius: theme.formFieldBorderRadius
    &--icon {
      visibility: hidden
      position: absolute
      top: -theme.checkboxBorderWidth
      left: -theme.checkboxBorderWidth
      &--bg {
        fill: theme.darkTurquoise
      }
      &--checkmark {
        fill: theme.white
      }
    }
  }
  &--label {
    display: 'inline-block',
    fontSize: '1.6rem',
    lineHeight: '2.1rem',
    verticalAlign: bottom
  }

  & input[type=checkbox]:checked + label > .checkbox--iconcontainer--icon {
    visibility: visible
  }
}
