@import '../../settings'

.dateinput {
  fontSize: theme.formFieldFontSize
  lineHeight: theme.formFieldLineHeight
  border: theme.formFieldBorder
  borderRadius: theme.formFieldBorderRadius
  width: '15rem',
  height: theme.formFieldHeight
  color: theme.greyishBrown
  paddingLeft: theme.formFieldHorizontalPadding
  paddingTop: '0.4rem',
  background: url('../../images/kalender.svg') no-repeat right 1.3rem top 50%
  backgroundSize: 19px 18px
  borderColor: theme.formFieldBorderColor
  transition: borderColor theme.formFieldFocusTransition
  &:focus {
    borderColor: theme.formFieldBorderActiveColor
    transition: borderColor theme.formFieldFocusTransition
  }
  &-small {
    height: '3.5rem',
  }
  &-error {
    borderColor: theme.formFieldBorderErrorColor
  }
}

.react-datepicker {
  fontSize: 1.3rem !important
}

.react-datepicker__current-month {
  fontSize: 1.5rem !important
}

.react-datepicker__header {
  paddingTop: 6px !important
}

.react-datepicker__navigation {
  top: 13px !important
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important
}
