@import '../../settings'

.formfield {
  marginRight: '2.5rem',
  verticalAlign: top,
  marginTop: '2rem',

  &-inline {
    display: 'inline-block',
  }

  &-notopmargin, &:first-child {
    marginTop: 0
  }

  &-smallbottommargin {
    marginBottom: '2rem',
  }

  &-hasaction {
    display: flex
    alignItems: center
    &--field {
      flexGrow: 1
      display: 'inline-block',
      marginRight: '2.5rem',
    }
    &--action {
      width: 50px
    }
  }
}
