@import "../../settings"

.form {
  &-inputfield {
    height: '4.5rem',
    borderRadius: 3px
    border-style: solid
    borderColor: theme.darkEggWhite
    borderWidth: 2px
    paddingLeft: '3rem',
    paddingRight: '1rem',
    marginTop: '1.5rem',
  }
}