.radiobutton {
  position: relative
  display: flex
  alignItems: flex-end
  marginBottom: '2rem',
  &--input {
    visibility: hidden
    width: 21px
    height: 21px
    margin: 0
  }
  &--icon {
    position: absolute
    top: 0
    left: 0
    background: url('../../images/radiobg.svg') no-repeat left top
    width: 21px
    height: 21px
    &-checked {
      background: url('../../images/radiobg-selected.svg') no-repeat left 50%
    }
  }
  &--label {
    fontSize: '1.6rem',
    paddingLeft: '0.5rem',
  }
}