@import '../../settings'

.textinput {
  order: 2
  height: theme.formFieldHeight
  width: 100%
  maxWidth: '48.4rem',
  fontSize: theme.formFieldFontSize
  color: theme.formFieldTextColor
  border: theme.formFieldBorder
  borderRadius: theme.formFieldBorderRadius
  borderColor: theme.formFieldBorderColor
  transition: borderColor theme.formFieldFocusTransition
  paddingLeft: theme.formFieldHorizontalPadding
  paddingTop: '0.4rem',
  display: block

  &-small {
    height: '3.5rem',
  }

  &-large {
    minWidth: theme.formFieldLargeWidth
  }

  &-narrow {
    maxWidth: '22.3rem',
  }

  &-error {
    borderColor: theme.formFieldBorderErrorColor !important
  }

  &:focus {
    borderColor: theme.formFieldBorderActiveColor
    transition: borderColor theme.formFieldFocusTransition
    & + label {
      color: theme.formFieldLabelFocusedColor
      transition: color 200ms ease-in
    }
  }

  &--label {
    order: 1
    fontSize: '2rem',
    lineHeight: 1.45
    color: theme.formFieldLabelUnfocusedColor
    transition: color 200ms ease-in
    marginBottom: '2rem',
    display: block
    &-small {
      fontSize: '1.8rem',
      lineHeight: 1.61
    }
    &-focus {
      color: theme.formFieldLabelFocusedColor
      transition: color 200ms ease-in
    }
  }

  &--errormsg {
    order: 3
  }

  &--container {
    display: flex
    flexDirection: column
    alignContent: flex-start
  }
}