@import '../../settings'
@import '../../colors'

.timeinput {
  position: relative
  &--container {
    width: '9.6rem',
  }

  &--input {
    background: url('../../images/clock.svg') no-repeat 90% 50%
    backgroundSize: 16px 16px
  }

  &--timepicker {
    position: absolute
    top: '9.6rem',
    background: theme.white
    zIndex: 100
    width: '19.7rem',
    height: '11.6rem',
    border: theme.formFieldBorder theme.formFieldBorderColor
    borderRadius: theme.formFieldBorderRadius
    textAlign: center

    &-nolabel {
      top: '4.6rem',
    }

    &--inputcontainer {
      margin: 1.6rem '0.5rem',
      textAlign: center
      display: 'inline-block',
      &:first-child {
        marginLeft: 0
      }
      &:last-child {
        marginRight: 0
      }
    }

    &--input {
      width: '5.2rem',
      height: '4.2rem',
      marginTop: '0.7rem',
      marginBottom: '0.8rem',
      borderRadius: theme.formFieldBorderRadius
      box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.5)
      border: solid 1px #979797
      textAlign: center
      fontSize: '1.6rem',
      color: theme.greyishBrown
      transition: borderColor theme.formFieldFocusTransition
      &:focus {
        borderColor: theme.formFieldBorderActiveColor
        transition: borderColor theme.formFieldFocusTransition
      }
    }

    &--separator {
      position: relative
      fontSize: '2.5rem',
      display: 'inline-block',
      top: -'3rem',
    }

    &--icon {
      cursor: pointer
    }
  }
}