#!/usr/bin/env python
# -*- coding: utf-8 -*-
""" Default configuration for eValg. """

DEBUG = False

LOGGER_NAME = 'ballotbox'

LOGGING = {
    'disable_existing_loggers': False,
    'version': 1,
    'loggers': {
        '': {
            'handlers': ['stream_stderr_simple','file_json'],
            'level': 'DEBUG',
        },
        'ballotbox': {
            'handlers': ['stream_stderr_simple', 'file_json'],
            'level': 'DEBUG'
        },
    },
    'formatters': {
        'json': {
            'datefmt': '%Y-%m-%dT%H:%M:%S%z',
            'class': 'pythonjsonlogger.jsonlogger.JsonFormatter',
            'format': '%(asctime)s %(created)s %(relativeCreated)s %(msecs)s %(process)s %(processName)s %(thread)s %(threadName)s %(pathname)s %(filename)s %(lineno)s %(module)s %(funcName)s %(name)s %(levelname)s %(levelno)s %(exc_info)s %(exc_text)s %(stack_info)s %(request_id)s %(msg)s %(args)s %(message)s'
        },
        'simple': {
            'datefmt': '%Y-%m-%d %H:%M:%S',
            'class': 'logging.Formatter',
            'format': '%(asctime)s - %(request_id).8s - %(levelname)s - %(name)s - %(message)s'
        }
    },
    'handlers': {
        'null': {
            'class': 'logging.NullHandler',
            'formatter': 'simple',
        },
        'stream_stderr_simple': {
            'formatter': 'simple',
            'class': 'logging.StreamHandler',
            'stream': 'ext://sys.stderr',
            'filters': ['request_id'],
        },
        'file_json': {
            'formatter': 'json',
            'class': 'logging.FileHandler',
            'filename': 'logs/ballotbox.log.json',
            'filters': ['request_id']
        }
    },
    'filters': {
        'request_id': {
            '()': 'evalg_common.request_id.RequestIdFilter'
        }
    }
}
