@import 'colors'

/* Global */
theme.appMaxWidth: '110rem',
theme.horizontalPadding: '2rem',
theme.horizontalMdPadding: '6.5rem',

theme.breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1140px
)

/* Header */
theme.headerMenuMargin: '2rem',
theme.headerLogoBarColor: theme.black
theme.headerMainAreaColor: theme.darkGray

/* Nav Menus */
theme.navFontSize: '1.5rem',
theme.navMenuTextColor: theme.white

/* Admin Election NavBar */
theme.adminNavBarColor: theme.lightTurquoise
theme.adminNavBarSectionCircleColorActive: theme.darkTurquoise
theme.adminNavBarSectionCircleColorInactive: theme.white
theme.adminNavBarSectionTextColorActive: theme.white
theme.adminNavBarSectionTextColorInactive: theme.lightGray
theme.adminNavBarSectionDescTextColor: theme.lightBlack

/* Content */
theme.contentContainerHorPadding: '2rem',
theme.contentContainerMdHorPadding: '4.5rem',
theme.contentHorPadding: '0rem',
theme.contentHorMdPadding: '1rem',
theme.contentPageHeaderColor: theme.greyishBrown
theme.editText: theme.blueish

/* Content Section */
theme.contentSectionBorderColor: theme.lightBlueGray

/* Icons */
theme.forwardArrowColor: theme.white
theme.forwardArrowColorBg: theme.darkTurquoise
theme.backArrowColor: theme.darkTurquoise
theme.mainArrowColor: theme.white
theme.dropdownArrowColor: theme.darkTurquoise
theme.closeIconColor: theme.veryLightGray
theme.electionStatusActiveColor: theme.lightOliveGreen
theme.electionStatusDraftColor: theme.fadedOrange
theme.electionStatusClosedColor: theme.lightDarkWhite
theme.plusIconFillColor: theme.white
theme.plusIconBackgroundColor: theme.darkTurquoise

/* Tables */
theme.tableHeaderBg: theme.lightTurquoise
theme.tableHeaderTextColor: theme.darkGreyishBrown
theme.tableHeaderFontSize: '1.8rem',
theme.tableInfoHeaderBg: theme.mediumWhite
theme.tableRowMainTextColor: theme.greyishBrown
theme.tableHorizontalPadding: '3rem',
theme.actionTextColor: theme.blueish
theme.tableCandidateBottomBorderColor: theme.darkWhite
theme.tableThickBorderColor: theme.lightBlueGray
theme.tableFilterBoxBorderColor: theme.darkEggWhite
theme.tableCellGreyBgColor: theme.paleGrey
theme.tableRowHoverColor: theme.mediumWhite
theme.tableRowDragColor: theme.mediumWhite
theme.tableInputBorderActive: theme.darkTurquoise
theme.tableInputBorderInactive: theme.darkEggWhite


/* Form Fields */
theme.formErrorTextColor: theme.darkRed
theme.formFieldHeight: '4.5rem',
theme.formFieldLabelUnfocusedColor: theme.greyishBrown
theme.formFieldLabelFocusedColor: theme.greyishBrown
theme.formFieldBorderColor: theme.darkEggWhite
theme.formFieldBorderErrorColor: theme.lightRed
theme.formFieldBorderActiveColor: theme.darkTurquoise
theme.formFieldBorder: 0.2rem solid
theme.formFieldBorderRadius: '0.3rem',
theme.formFieldTextColor: theme.greyishBrown
theme.formFieldFontSize: '1.6rem',
theme.formFieldLineHeight: '2.7rem',
theme.formFieldHorizontalPadding: '1.3rem',
theme.formFieldFocusTransition: 350ms ease-out
theme.formFieldLargeWidth: '32.5rem',

/* Dropdown */
theme.dropDownWidth: '22.3rem',
theme.dropDownTextColor: theme.greyishBrown
theme.dropDownBorderColor: theme.darkEggWhite
theme.dropDownBorderColorActive: theme.darkTurquoise
theme.dropDownListItemBorderColor: theme.darkWhite
